<h1 style="color: #333; font-size: 24px;"> <%= @blogapp.title %></h1>
<p style="font-size: 18px;"> <%= @blogapp.body %> </p>
<p style="font-size: 14px; color: #666;"> Views: <%= @blogapp.views %> </p>

