<h1><%= @blogapp.title  %></h1>

<% if @blogapp.title == 'Lion: The King of the Jungle' %>
  <p> In the vast savannas of Africa, where the golden grasslands stretch as far as the eye can see, lives the regal and powerful lion (Panthera leo). Known as the "King of the Jungle," lions are the epitome of strength, majesty, and social complexity.
<br>
1. The Pride: Bonds of Family and Community

At the heart of a lion's social life is the pride—a tightly-knit family unit consisting of several related lionesses, their offspring, and often one or more dominant males. Each pride has a defined territory that they fiercely defend from other prides and intruders.

<br>2. Matriarchal Society: The Queens' Rule

Contrary to popular belief, it's the lionesses who lead the pride and are the primary hunters. The lionesses work together, employing coordinated strategies to bring down prey, ensuring the survival of their family. They communicate with a range of vocalizations, from gentle purring to fierce roaring.

<br>3. The Mighty Roar: Communicating Dominance and Unity

The roar of a lion is a symbol of power and a form of communication that resonates across the African plains. Male lions use their distinctive roars to establish dominance and declare their territory, deterring other males from intruding upon their pride.

<br>4. Brotherhood in the Wild: Coalition of Males

While male lions are often depicted as solitary hunters, they can form strong bonds with other males, known as coalitions. These coalitions work together to protect their territory, enhance their chances of claiming and maintaining a pride, and increase their access to potential mates.

<br>5. Communal Parenting: Raising Future Royalty

In the pride, the entire group plays a role in raising the young cubs. Lionesses take turns babysitting and suckling the cubs, promoting a sense of communal parenting. This support system ensures the survival and well-being of the pride's future generation.</p>
<% elsif @blogapp.title == 'Dolphin: The Intelligent Swimmer' %>
  <p>In the vast oceans and seas, where the horizon stretches beyond sight, lives the enigmatic and intelligent dolphin (family Delphinidae). Often referred to as the "smiling angels of the sea," dolphins are highly evolved marine mammals, renowned for their playful nature and exceptional cognitive abilities.
<br>
1. Playful Personalities: The Joy of the Waves

Dolphins are known for their playful behavior, often seen riding waves, leaping out of the water, and engaging in acrobatic stunts. These joyful displays are not merely entertainment; they are essential to their physical and mental well-being.
<br>
2. Social Sophistication: The Community of Pods

Dolphins are highly social creatures, living in groups called pods. Within these pods, they form intricate social hierarchies and develop strong bonds with one another. They communicate through a sophisticated system of clicks, whistles, and body language.
<br>
3. Echolocation: Sonar of the Sea

One of the most remarkable features of dolphins is their echolocation ability. By emitting high-frequency sound waves, dolphins can navigate their surroundings, locate prey, and communicate with other pod members. This sophisticated sonar system allows them to thrive in the depths of the ocean.
<br>
4. Problem-Solving Prowess: The Thinking Swimmer

Dolphins exhibit exceptional problem-solving skills, displaying intelligence comparable to some primates. They can use tools, cooperate in complex tasks, and even understand and respond to human gestures and commands.
<br>
5. Emotional Intelligence: Empathy in the Waves

Dolphins display emotional intelligence, showing empathy and compassion toward injured or distressed pod members. They often come to the aid of injured individuals, offering support and protection.</p>
<% elsif @blogapp.title == "Elephant: The Gentle Giant" %>
  <p>In the vast oceans and seas, where the horizon stretches beyond sight, lives the enigmatic and intelligent dolphin (family Delphinidae). Often referred to as the "smiling angels of the sea," dolphins are highly evolved marine mammals, renowned for their playful nature and exceptional cognitive abilities.
<br>
1. Playful Personalities: The Joy of the Waves

Dolphins are known for their playful behavior, often seen riding waves, leaping out of the water, and engaging in acrobatic stunts. These joyful displays are not merely entertainment; they are essential to their physical and mental well-being.
<br>
2. Social Sophistication: The Community of Pods

Dolphins are highly social creatures, living in groups called pods. Within these pods, they form intricate social hierarchies and develop strong bonds with one another. They communicate through a sophisticated system of clicks, whistles, and body language.
<br>
3. Echolocation: Sonar of the Sea

One of the most remarkable features of dolphins is their echolocation ability. By emitting high-frequency sound waves, dolphins can navigate their surroundings, locate prey, and communicate with other pod members. This sophisticated sonar system allows them to thrive in the depths of the ocean.
<br>
4. Problem-Solving Prowess: The Thinking Swimmer

Dolphins exhibit exceptional problem-solving skills, displaying intelligence comparable to some primates. They can use tools, cooperate in complex tasks, and even understand and respond to human gestures and commands.
<br>
5. Emotional Intelligence: Empathy in the Waves

Dolphins display emotional intelligence, showing empathy and compassion toward injured or distressed pod members. They often come to the aid of injured individuals, offering support and protection.</p>
<% end %>
