
<h1>Forgot Password</h1>

<%= form_tag("/users/reset_password", method: "post") do %>
  <label>Email:</label>
  <%= email_field_tag :email %>

  <%= submit_tag "Submit" %>
<% end %>

<%= link_to "Back to Login", root_path %>
