
<h1>Set New Password</h1>

<%= form_tag("/users/update_password", method: "post") do %>
  <label>Password:</label>
  <%= password_field_tag(:"user[password]") %>

  <label>Confirm Password:</label>
  <%= password_field_tag(:"user[password_confirmation]") %>

  <%= submit_tag "Set New Password" %>
<% end %>
